<byt-nav></byt-nav>
<br>
<section class="container">
	<section class="col-md-6 col-md-offset-3 main_content">
		<app-arrow></app-arrow>
		<section class="row">
			<section class="byt_instructions">			
				<section>
					<b>One-on-one with a BYT coach</b>
					<br><br>
					1. For $59 per month, you can text your coach as many times as you'd like. We'll do our best to answer your questions within 48 hours.
					<br><br>
					2. Ideally, we'd start at the beginning of the month, set projections, then work together to hit those projections. If we're ahead of pace, we'll encourage you to spend spend spend, if we're behind pace, we'll Facetime you to make sure you're home reading a book :)
					<br><br>
					3. We'd also work on repairing your credit, reviewing your investment accounts, or considering new investment opportunities.
					<br><br>
					4. We can't promise that we have the ability to fix all of your problems. Some of them may be bigger than money. But we can sure give it a try.
					<br><br>
					5. Email Eli with any question - eliezer@buildyourtomorrow.com
				</section>			
			</section>
		</section>
		<section class="row">
			<section class="byt_instructions">			
				<section>
					<b>Monthly Projections:</b>
					<br><br>
					For best results, start at the BEGINNING of the month.
					<br><br>
					1. At the beginning of the month (first 5 days), go to the Monthly Projections tab.
					<br><br>
					2. Once there, click on Income and estimate as accurately as possible ALL the income that you will receive in the current month.
					<br><br>
					3. Do the same for bills. As accurately as possible, estimate all the bills that you will pay for the current month.
					<br><br>
					4. Finally, do the same for expenses. Estimate all the money that you will spend in day-to-day expenses such as groceries, gas, tolls, taxies, bars, restaurants, lounges, movies, hanging out, etc.
					<br><br>
					5. The app will then total all of your projections and add them to the Transaction Journal under the Dashboard tab.
					<br>
				</section>			
			</section>
		</section>
		<section class="row">
			<section class="byt_instructions">			
				<section>
					<b>Transaction Journal:</b>
					<br><br>
					For best results, start at the BEGINNING of the month.
					<br><br>
					1. Record the source of every single dollar that enters your personal economy. If you get paid, record the transaction in the Income tab. If you make some money from a side business, record the transaction. Make sure to only record income after you've received it (no estimating).
					<br><br>
					2. Record every single dollar spent on fixed expenses such as a car payment, electric bill, parking garage, or student loans in the Bills tab within the Transaction Journal. Make sure to only record bills after you've paid for them (no estimating). 
					<br><br>
					3. Record every single dollar spent on day-to-day expenses such as groceries, restaurants, alcohol, or movies in the Expenses tab within the Transaction Journal. Make sure to only record expenses after you've paid for them (no estimating).
					<br><br>
					4. Try and record your transactions either every day, every other day, or every two days. The more you know where you stand in relation to the projections you initially established in step one, the greater the chances of you making any needed adjustments and hitting your targets at the end of the month.
					<br><br>
					5. The Up by / Down by number in the Dashboard tab within the Transaction Journal is key. If you are Up by $89, that means that you can spend $89 without falling behind pace. Down by $59 means that you have fallen behind pace by $59. This number updates at the start of everyday and is calculated by taking your Daily Budget, multiplying it by the numeric day of the month, then subtracting the total amount of money spent.
					<br><br>
					6. The Daily Budget is calculated by dividing the Expense Projection by the total number of days in the current month. Make progress by spending less than your daily budget.
					<br><br>
					7. If something remains unclear, email me: eliezer@buildyourtomorrow.com and I'll explain :)
				</section>			
			</section>
		</section>
		<section class="row">
			<section class="byt_instructions">
				<section>
					<b>Net worth:</b>
					<br><br>
					1. In the Assets tab (selected tab is outlined), add all Assets including cash in checking and savings accounts, Individual Retirement Accounts (IRA), Certificates of Deposit (CD), property, etc.
					<br><br>
					2. In the Liabilities tab, add all Liabilities including student loans, credit card debt, collections accounts if any, car notes, mortgages, personal loans, etc.
					<br><br>
					3. Analyze the Net Worth tab and understand where you stand.
					<br><br>
					4. Email me if you have any questions - eliezer@buildyourtomorrow.com
				</section>
			</section>			
		</section>
		<br>
	</section>
</section>