<byt-nav></byt-nav>
<br>
<section class="container">
	<section class="col-md-6 col-md-offset-3 main_content">
		<app-arrow></app-arrow>
		<section class="row">




			<section class="byt_instructions">			
				<section>
					<p role='button' id='linkButton' (click)="plaidClient()">Get transactions</p>
				</section>			
			</section>



			<section *ngFor="let transaction of transactions">
				<section class="panel-body" style="padding:13px">
					<section style="width:20%; float:left; text-align:center; display:inline">{{transaction.name}}</section>
					<section style="width:40%; float:left; text-align:center; display:inline">{{transaction.amount}}</section>
					<section style="width:30%; float:left; text-align:center; display:inline">{{transaction.date}}</section>
				</section>				
			</section>





		</section>
		<br>
	</section>
</section>