<byt-nav></byt-nav>
<section id="myCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<section class="carousel-inner">
		<section class="item active">
			<img src="/app/images/CarouselReady4.jpg" alt="Save today, relax tomorrow" class="img-responsive">
		</section>
		<section class="item">
			<img src="/app/images/CarouselReady5.jpg" alt="Budget today, enjoy tomorrow" class="img-responsive">
		</section>			
		<section class="item">
			<img src="/app/images/CarouselReady2.jpg" alt="Journey towards financial freedom" class="img-responsive">
		</section>
	</section>
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">
		<span class="icon-prev"></span>
	</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">
		<span class="icon-next"></span>
	</a>
</section>
<section class="container">
	<br>
	<section class="col-md-12">
		<section class="row">
			<section class="byt_watch_headline">Watch these videos before <a routerLink="app">budgeting.</a> Click <a routerLink="app">here</a> when ready. Text me with questions - 7189542291</section>
		</section>
		<br>
		<section class="row text-center">
			<section class="well">				
				<section>1. Tutorial</section>
				<br>
				<section class="byt_watch_videos">
					<iframe width="480" height="270" src="https://www.youtube.com/embed/6rEcSlCSn54" frameborder="0" allowfullscreen></iframe>
					<br>
				</section>
			</section>
		</section>
	</section>
</section>