<byt-nav></byt-nav>
<section class="container">
	<section class="col-md-6 col-md-offset-3 main_content">
		Text me with questions - 718.954.2291
	</section>
</section>
<section class="container">
	<section class="col-md-6 col-md-offset-3 main_content">
		<!--
		<home-arrow></home-arrow>
		-->
		<section class="row text-center" routerLink="../spending-journal/dashboard" role="button">
			<section class="byt_app">			
				Transaction Journal
				&nbsp;
				<section class="glyphicon glyphicon-pencil"></section>
			</section>			
		</section>
		<section class="row text-center" routerLink="../balance-sheet/net-worth" role="button">
			<section class="byt_app">
				Net Worth
				&nbsp;
				<section class="glyphicon glyphicon-equalizer"></section>
			</section>
		</section>
		<section class="row text-center" routerLink="../education" role="button">
			<section class="byt_app">
				Education
				&nbsp;
				<section class="glyphicon glyphicon-education"></section>
			</section>
		</section>
		<section class="row text-center" routerLink="../education" role="button">
			<section class="byt_app">
				Financial Plan (coming soon)
				&nbsp;
				<section class="glyphicon glyphicon-piggy-bank"></section>
			</section>
		</section>
	</section>
</section>


