<byt-nav></byt-nav>
<section class="container">
	<section class="col-md-6 col-md-offset-3 main_content">
		<home-arrow></home-arrow>
		<section class="row text-center" routerLink="../spending-journal/dashboard" role="button">
			<section class="byt_app">Transaction Journal</section>
		</section>
		<section class="row text-center" routerLink="../balance-sheet/net-worth" role="button">
			<section class="byt_app">Net Worth</section>
		</section>
		<section class="row text-center" role="button">
			<section class="byt_app">Education</section>
		</section>
	</section>
</section>