.main_content {
	background-color: #f8f8f8;
	border-radius: 5px;
	font-family: sans-serif;
	color: #919496;
}
.byt_app {
	height: 105px;	
	background-color: #FFFFFF;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	border-radius: 5px;
	padding-bottom: 10px;
	padding-top: 40px;
	font-size: 16px;
}