<byt-nav></byt-nav>
<br>
<section class="container">
	<section class="col-md-6 col-md-offset-3 main_content">
		<app-arrow></app-arrow>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/mUv-W4ImBk8" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/dmhehtjmaGw" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/5x9VmSZ_OGM" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/5T0a_-kfHfQ" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/JrRXcQ9JV8c" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/YxX4WSy3jUw" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/zl5SIeP3-MI" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/L3BWsDLCk_I" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/SqVvWu_rup4" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/QFMCVvpXQbg" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/hM8o4ysthCQ" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/Tlrio3fb5gs" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/3h5pdGqIUn8" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">					
					<iframe width="290" height="155" src="https://www.youtube.com/embed/w2ZqmXAJmKE" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">					
					<iframe width="290" height="155" src="https://www.youtube.com/embed/0qGtxw6zoZM" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">			
				<section class="byt_watch_videos">					
					<iframe width="290" height="155" src="https://www.youtube.com/embed/UfGIanx6aII" frameborder="0" allowfullscreen></iframe>
				</section>			
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/Zi_CXBJy41o" frameborder="0" allowfullscreen></iframe>
				</section>
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/o_98WE5KPM8" frameborder="0" allowfullscreen></iframe>
				</section>
			</section>
		</section>
		<section class="row text-center">
			<section class="byt_education">
				<section class="byt_watch_videos">
					<iframe width="290" height="155" src="https://www.youtube.com/embed/ezetgV1XTho?list=PL_w7a0Da8RBAWSgHBqSpO1ACOeyUNFHo5" frameborder="0" allowfullscreen></iframe>
				</section>
			</section>			
		</section>
		<br>
	</section>
</section>