<byt-nav></byt-nav>
<section class="container">
	<section class="col-md-6 col-md-offset-3 main_content">
		<app-arrow></app-arrow>
		<section class="row">
			<section class="byt_instructions">			
				<section>
					<b>Transaction Journal:</b>
					<br><br>
					For best results, start at the BEGINNING OF THE MONTH.
					<br><br>
					1. At the beginning of the month (first 5 days), go to the Dashboard tab (selected tab is outlined) and add income, bills, and expenses projections for the current month. For example, income might be $2,000, bills (fixed costs such as rent, electric, or water) might be $900, and day-to-day expenses (variable costs such as groceries, gas, tolls, or restaurants) might be $600.
					<br><br>
					2. Record the source and the amount of every single dollar that enters your personal economy. If you get paid, record the transaction in the Income tab. If you make some money from a side business, record the transaction. Make sure to only record money received after the fact.
					<br><br>
					3. Record every single dollar spent on fixed expenses such as car payments, electric, parking garage, or student loans in the Bills tab within the Transaction Journal. Make sure to only record bills paid after the fact.
					<br><br>
					4. Record every single dollar spent on day-to-day expenses such as groceries, restaurants, alcohol, or movies in the Expenses tab within the Transaction Journal. Make sure to only record money spent after the fact.
					<br><br>
					5. Try and record your transactions either every day, every other day, or every two days. The more aware you are of where you stand in relation to the projections you initially established in step one, the greater the chances of you making any needed adjustments and hitting your targets at the end of the month.
					<br><br>
					6. The Up by / Down by number in the Dashboard tab within the Transaction Journal is key. If you are Up by $89, that means that you can spend $89 without falling behind pace. Down by $59 means that you have fallen behind pace by $59. This number updates at the start of everyday and is calculated by taking your Daily Budget, multiplying it by the numeric day of the month, then subtracting the total amount of money spent.
					<br><br>
					7. The Daily Budget is calculated by dividing the Expense Projection by the total number of days in the current month. Make progress by spending less than your daily budget.
					<br><br>
					8. If something remains unclear, email me: eliezer@buildyourtomorrow.com and I'll explain.
				</section>			
			</section>
		</section>
		<section class="row">
			<section class="byt_instructions">
				<section>
					<b>Net worth:</b>
					<br><br>
					1. In the Assets tab (selected tab is outlined), add all Assets including cash in checking and savings accounts, Individual Retirement Accounts (IRA), Certificates of Deposit (CD), property, etc.
					<br><br>
					2. In the Liabilities tab, add all Liabilities including student loans, credit card debt, collections accounts if any, car notes, mortgages, personal loans, etc.
					<br><br>
					3. Analyze the Net Worth tab and understand where you stand.
				</section>
			</section>			
		</section>
		<br>
	</section>
</section>