<table>
	<tr>
		<td>Income</td>
		<td>
			<input type="number" name="income">
			<section style="color: #7FFF00" class="glyphicon glyphicon-ok"></section>
		</td>
	</tr>
	<tr>
		<td>Bills</td>
		<td>
			<input type="number" name="bills">
			<section style="color: #7FFF00" class="glyphicon glyphicon-ok"></section>
		</td>
	</tr>
	<tr>
		<td>Expenses</td>
		<td>
			<input type="number" name="bills">
			<section style="color: #7FFF00" class="glyphicon glyphicon-ok"></section>
		</td>
	</tr>
</table>

<section>Assets</section>
<table>
	<tr>
		<td></td>
		<td>
			<input type="number" name="income">
			<section style="color: #7FFF00" class="glyphicon glyphicon-ok" (click)=addAsset()></section>
		</td>
	</tr>
</table>

<byt-asset-form ></byt-asset-form>